/* Styles for Claire Valant's Project 3: Toronto Tattoo Tinder
    1. Global
    2. Header
    3. Questions/Inputs
    4. Results
    5. Credits
    6. Footer
    7. Media Queries
*/

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* 1. Global */

html {
    font-size: 62.5%;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #232323;
    font-size: 2rem;
}

.accent {
    color: #ff616f;
}

main,
header {
    /* display: flex; */
    justify-content: center;
    align-items: center;    
}

.wrapper {
    width: 85vw;
}

.button,
input[type=submit] {
    background: #ff616f;
    color: #fafafa;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    align-self: center;
    transition: box-shadow 0.3s;
}

.button:hover,
input[type=submit]:hover {
    box-shadow: 5px 5px #232323;
}

a {
    text-decoration: none;
}

/* 2. Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}

header .wrapper {
    display: flex;
    width: 85vw;
    height: 85vh;
    margin: 7.5vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

header p {
    margin: 0;
}

header .button {
    align-self: flex-start;
    /* margin-top   : 30px; */
}

header span {
    display: block;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 4.5rem;
}

.fireLogo {
    width: 3rem;
    display: inline-block;
    position: relative;
    top: 1px;
}

.fireLogo2 {
    width: 7.5rem;
    position: relative;
    top:2px;
    display: none;
}

/* 3. Questions/Inputs */

h2 {
    font-size: 2.3rem;
}

input {
    display: none;
}

input[type="submit"] {
    display: inline-block;
}

label {
   cursor: pointer; 
   margin: 10px 0;
}

label i {
    margin-right: 10px;
}

.alert {
    background: #ff616ef6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    z-index: 10;
    display: none;
}

.fa-check-square {
    color:#ff616f;
}

form {
    position: relative;
    /* height: 100vh; */
    /* width: 700vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

.questionContainer {
    background: #f3f3f3;
    box-shadow: 10px 10px 50px #f5f5f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 85vw;
    height: 90vh;
}

/* 4. Results */

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 20;
    height: 100vh;
    display: none;
}

.results img {
    width: 100%;
    max-width:750px;
    min-width: 200px;
}

.playAgain {
    align-self: center;
    display: inline-block;
}

/* 5. Credits */

.creditsHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:7.5vw;
}

.creditsHeader .wrapper {
    width: 85vw;
}

.creditsHeader h1 {
    font-size: 7rem;
}

.creditsHeader .fireLogo2 {
    font-size: 5.5rem;
}

.listContain{
    flex-basis: 50%;
    margin-right: 7.5vw;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 0;
    padding: 0;
}

.listContain a:hover {
    text-decoration: underline;
    /* color: #ff616f; */
}

.listContain a:visited {
    color: #b9535c;
}

/* 6. Footer */

footer {
    height: 40px;
    background: #232323;
    display: flex;
    justify-content: center;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 1.3rem;
}

footer p,
footer a {
    color: #f3f3f3;
}

/* 7. Media Queries */

@media only screen and (min-width: 650px) {
    .creditsHeader {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 40px);
}

    .creditsHeader .wrapper {
        flex-basis: 40%;
    }

    header .wrapper {
        width: 440px;
        height: 75vh;
    }

    h1 {
        font-size: 9rem;
    }

    .questionContainer {
        height: auto;
    }

    .results {
        height: 95vh;
    }

    .fireLogo {
        display: none;
    }

    .fireLogo2 {
        display: inline-block;
    }
}

@media only screen and (min-height:740px) {
    header .wrapper {
        height: 55vh;
    }

    .questionContainer {
        height: auto;
    }
}

@media only screen and (min-width:870px) {
    header .wrapper {
        width: 440px;
    }
}